name: Docker Build and Push

on:
  pull_request:
    branches:
      - main

jobs:
  call-docker-build-push:
    uses: submitty/action-docker-build/.github/workflows/docker-build-push.yml@v24.07.00
    with:
      push: false
      docker_org_name: ${{ vars.docker_org_name }}
      base_commit: ${{ github.event.pull_request.base.sha }}
      head_commit: ${{ github.event.pull_request.head.sha }}
